.footer-container {
    width: 100%;
    height: 80px;
    background: #343a40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container-text {
    color: #e8e8e8;
}